**/keys.py
**/node_modules
**/*.pyc
**/virtualenv
**/static/gen/**
**/.idea
**/.vscode
**/.webassets-cache
**/.DS_Store
**/.vscode

**/*.json
!**/lib/*.json
*.log
**/gen/*

# Upload directory
sas/media/*
media/*

# Collected Static Files
!*/fixtures/*.json

# Mocks
# !**/field/assets/json/mocks/*.json
nohup.out
*.swp
*.swo
*.swn

