Dear harleen,

Hope you have received your Binatone Concept 700 Corded Landline Phone (White) and had a chance to use it.

If there are any concerns with the order, please let us know so we can more quickly address them.

If you are satisfied/happy with the delivery experience and with the product, can you please do us a 2 minute favor? It will be very helpful to us.

As this is a new product listing on Amazon, reviews go a long away in establishing user trust in the product. We would really appreciate if you can leave a review/rating for us and the product.

You can leave a product review by visiting the following link:
https://www.amazon.in/review/review-your-purchases/?asins=B07HKTCK9Z 

You can leave a feedback for us by clicking on the below link:
https://www.amazon.in/gp/feedback/leave-customer-feedback.html/?order=405-2209597-4368359

Thank you again for shopping with us.

Sincerely,
RK Digital Solutions Customer Service

** Please ignore this email if you have already reviewed the product

This email was sent to you because you placed order id: 405-2209597-4368359 on Amazon.